*{
    max-width: 1000px;
    max-height: 4000px;
    margin: 0;
}
.cabecalho{
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c0d8db;
}
.cabecalho .menu{
    width: 800px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}
button{
    border-color: #ffffff;
    background-color: #ffffff;
}
.fotos{
    margin: 5px;
    margin-top: 5px;
    background-color: #f9fdfd;
}
.fotos .foto1{
    width: 576px;
    height: 350px;
    display: inline;
    justify-items: center;
    align-content: center;
    
}
.fotos .foto2{
    width: 350px;
    height: 700px;
    display: inline;
    justify-items: center;
    align-content: center;
}
.fotos .foto3{
    width: 284px;
    height: 350px;
    display: inline;
    justify-items: center;
    align-content: center;

}
.fotos .foto4{
    width: 284px;
    height: 350px;
    display: inline;
    justify-items: center;
    align-content: center;
}
.rodape{
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #c0d8db;
}
#formulario{
    width: 550px;
    height: 440px;
    margin-top: 10px;
    border-radius: 15px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #c0d8db;
}
.input{
    width: 500px;
    height: 25px;
    margin: 10px;
    border-radius: 5px;
    border-color: #c0d8db;
}

.input-4{
    width: 500px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    border-color: #c0d8db;
}
.btn{
    width: 150px;
    height: 25px;
    display: inline;
    margin: 10px;
    border-radius: 25px;
    border-color: #c0d8db;
    justify-content: space-between;
    align-items: center;
}